# Django
DJANGO_SECRET_KEY=v54p$-ist(0&i0!gee7lzd(75)0g08n)k@6v8temu*&k)ho537
DJANGO_SETTINGS_MODULE=cloudguard_prj.settings
DEBUG=True

# Supabase PostgreSQL
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=SD_KDA2026!
DB_HOST=db.vnokqhoitviwmqugutmd.supabase.co
DB_PORT=5432

# Supabase Storage
SUPABASE_URL=https://vnokqhoitviwmqugutmd.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZub2txaG9pdHZpd21xdWd1dG1kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA3MzY4NywiZXhwIjoyMDkzNjQ5Njg3fQ.TNNxd9fGMbeMML6Ux7-dzgW-Ydjps8pNeTL7qYOYFrA
SUPABASE_BUCKET=cloudguard-vault
