# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/
.env

# Django
media/
staticfiles/

# Temporary files
temp_*.bin
dummy_benchmark.bin
*.bin

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Other
.vercel
